# Ignorar diretórios de dependências e pacotes gerados

#yarn.lock
#package-lock.json
/node_modules
*/coverage
tmp/
# Arquivos de ambiente
.env

# Arquivos de build
#dist/
#out/

# Logs e arquivos temporários
*.log
*.swp
.DS_Store
